<?xml version="1.0" encoding="UTF-8"?>
<!--
  ###license-information-start###
  gPAS - a Generic Pseudonym Administration Service
  __
  Copyright (C) 2013 - 2017 The MOSAIC Project - Institut fuer Community Medicine der
  							Universitaetsmedizin Greifswald - mosaic-projekt@uni-greifswald.de
  							concept and implementation
  							l. geidel
  							web client
  							g. weiher
  							a. blumentritt
  							please cite our publications
  							http://dx.doi.org/10.3414/ME14-01-0133
  							http://dx.doi.org/10.1186/s12967-015-0545-6
  __
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
  ###license-information-end###
  -->

<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
 <display-name>gpas-web</display-name>
 <!-- Remove Comments from Sources, otherwise they will be uncommented and 
		used -->
 <context-param>
  <param-name>javax.faces.FACELETS_SKIP_COMMENTS</param-name>
  <param-value>true</param-value>
 </context-param>
 <context-param>
  <param-name>primefaces.UPLOADER</param-name>
  <param-value>commons</param-value>
 </context-param>
 <filter>
  <filter-name>PrimeFaces FileUpload Filter</filter-name>
  <filter-class>org.primefaces.webapp.filter.FileUploadFilter</filter-class>
 </filter>
 <filter-mapping>
  <filter-name>PrimeFaces FileUpload Filter</filter-name>
  <servlet-name>Faces Servlet</servlet-name>
 </filter-mapping>
 <!-- JSF -->
 <servlet>
  <servlet-name>Faces Servlet</servlet-name>
  <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
  <load-on-startup>1</load-on-startup>
 </servlet>
 <!-- JSF URL mapping -->
 <servlet-mapping>
  <servlet-name>Faces Servlet</servlet-name>
  <url-pattern>*.xhtml</url-pattern>
 </servlet-mapping>
 <welcome-file-list>
  <welcome-file>html/index.xhtml</welcome-file>
 </welcome-file-list>
 <security-constraint>
  <display-name>security</display-name>
  <web-resource-collection>
   <web-resource-name>app</web-resource-name>
   <url-pattern>/html/*</url-pattern>
  </web-resource-collection>
  <!-- <auth-constraint>
   <description>admin access</description>
   <role-name>psn_admin</role-name>
  </auth-constraint> -->
 </security-constraint>
 <login-config>
  <auth-method>BASIC</auth-method>
  <!-- <realm-name>ttp-security-Realm</realm-name> -->
 </login-config>
 <!-- CSV operations roles -->
 <security-role>
  <role-name>psn_admin</role-name>
 </security-role>
 <session-config>
  <session-timeout>30</session-timeout>
 </session-config>
</web-app>
